strong
{
    color: white;
    font-weight:bold;

}

table
{
    background-color:#494848;
}

labe
{
    color: blanchedalmond;
}
h1{
    font-family:fantasy
}
div{
   background-color: #4a7c59
}
p{
    text-align: center
}